

<div class="container box" *ngIf="SingleProduct else loading">
    <div class="row">
        <div class="col-md-3">
            <img [src]="SingleProduct.imageCover" alt="" class="w-100">
        </div>
        <div class="col-md-9 text-center d-flex justify-content-center align-items-center">
            <div>
                <p>{{SingleProduct.title}}</p>
                <p>{{SingleProduct.description}}</p>
                <p>{{SingleProduct.price}} EGP</p>
                <button (click)="addtocard(SingleProduct._id)" class="btn ">Add To Card</button>
            </div>
        </div>

    </div>
</div>


<ng-template #loading >
    <div class="d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-spin fa-spinner text-main fa-5x my-5 py-5"></i>
    </div>
</ng-template>
