
@import "../../styles.scss";
.login{
    /* margin-block: 150px !important; */
    margin-top: 150px !important;
}
.link{
    text-decoration: underline;
    color: #0A58CA;
}

button{
    background-color: var(--btn-bg-main) !important;
}

button:hover{
    background-color: var(--btn-bg-hover )!important;
    color: black !important;
}

// ------------Media Query screens and moblie------------

@media (min-width :768px){
    .login form {
        width: 75% !important;
        margin: auto;
    }
}
@media (min-width:992px){
    .login form {
        width: 50% !important;
    }

}