<div _ngcontent-fia-c16="" class=" bg-dark contact ">
  <div _ngcontent-fia-c16="" class="pt-3 conatiner">
    <div
      _ngcontent-fia-c16=""
      title="conatct section"
      customcolor="#2c3e50"
      _nghost-fia-c6=""
      ><div
        _ngcontent-fia-c6=""
        class="text-center pt-4"
        style="color: rgb(44, 62, 80)"
      >
        <h2 _ngcontent-fia-c6="" class="text-uppercase mb-3 fs-1 fw-bolder">
          conatct section
        </h2>
        <div
          _ngcontent-fia-c6=""
          class="d-flex align-items-center justify-content-center mb-3"
        >
          <div
            _ngcontent-fia-c6=""
            class="line me-3"
            style="background-color: rgb(44, 62, 80)"
          ></div>
          <i _ngcontent-fia-c6="" class="fa-solid fa-star"></i>
          <div
            _ngcontent-fia-c6=""
            class="line ms-3"
            style="background-color: rgb(44, 62, 80)"
          ></div>
        </div></div
    ></div>
    <form
      _ngcontent-fia-c16=""
      novalidate=""
      action=""
      class="w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid"
    >
      <label
        _ngcontent-fia-c16=""
        for="userName"
        class="position-relative   "
        >userName : </label
      ><input
        _ngcontent-fia-c16=""
        id="userName"
        #box1
        (keyup)="labelup(box1)"
        type="text"
        placeholder="userName"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid"
      /><label
        _ngcontent-fia-c16=""
        for="userAge"
        class="position-relative "
        >userAge : </label
      ><input
        _ngcontent-fia-c16=""
        id="userAge"
        #box2
        (keyup)="labelup(box2)"
        type="text"
        placeholder="userAge"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid"
      /><label
        _ngcontent-fia-c16=""
        for="userEmail"
        class="position-relative "
        >userEmail : </label
      ><input
        _ngcontent-fia-c16=""
        id="userEmail"
        #box3
        (keyup)="labelup(box3)"
        type="text"
        placeholder="userEmail"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid"
      /><label
        _ngcontent-fia-c16=""
        for="userPassword"
        class="position-relative "
        >userPassword : </label
      ><input
        _ngcontent-fia-c16=""
        id="userPassword"
        #box4
        (keyup)="labelup(box4)"
        type="text"
        placeholder="userPassword"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid"
      /><button
        _ngcontent-fia-c16=""
        class="btn mt-4 text-white"
        style="background-color: #1abc9c"
      >
        send Message
      </button>
    </form>
  </div>
</div>
