.line{
    width: 80px;
    height: 5px;
}
.layer__{
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
}

.layer__:hover{
    opacity: 1;
}

.model__{
    z-index: 2 ;
}
.porto{
    margin-top: 10% !important;
}