<div _ngcontent-tks-c19="" class="pt-4 my-5 porto">
  <div
    _ngcontent-tks-c19=""
    title="portfolio component"
    customcolor="#2c3e50"
    _nghost-tks-c6=""
  >
    <div
      _ngcontent-tks-c6=""
      class="text-center pt-4"
      style="color: rgb(44, 62, 80)"
    >
      <h2 _ngcontent-tks-c6="" class="text-uppercase mb-3 fs-1 fw-bolder">
        portfolio component
      </h2>
      <div
        _ngcontent-tks-c6=""
        class="d-flex align-items-center justify-content-center mb-3"
      >
        <div
          _ngcontent-tks-c6=""
          class="line me-3"
          style="background-color: rgb(44, 62, 80)"
        ></div>
        <i _ngcontent-tks-c6="" class="fa-solid fa-star"></i>
        <div
          _ngcontent-tks-c6=""
          class="line ms-3"
          style="background-color: rgb(44, 62, 80)"
        ></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4 col-md-6"  #col1 (click)="display(col1)" >
        <div class="rounded-3 overflow-hidden position-relative" >
          <img alt="" class="w-100 rounded-3" src="https://routeegy.github.io/startFramework/assets/images/poert1.png" />
          <div
            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" #col2 (click)="display(col2)">
        <div class="rounded-3 overflow-hidden position-relative">
          <img alt="" class="w-100 rounded-3" src="https://routeegy.github.io/startFramework/assets/images/port2.png" />
          <div
            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6"#col3 (click)="display(col3)">
        <div class="rounded-3 overflow-hidden position-relative">
          <img alt="" class="w-100 rounded-3" src="https://routeegy.github.io/startFramework/assets/images/port3.png" />
          <div
            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6"#col4 (click)="display(col4)">
        <div class="rounded-3 overflow-hidden position-relative">
          <img alt="" class="w-100 rounded-3" src="https://routeegy.github.io/startFramework/assets/images/poert1.png" />
          <div
            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6"#col5 (click)="display(col5)">
        <div class="rounded-3 overflow-hidden position-relative">
          <img alt="" class="w-100 rounded-3" src="https://routeegy.github.io/startFramework/assets/images/port2.png" />
          <div
            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6"#col6 (click)="display(col6)">
        <div class="rounded-3 overflow-hidden position-relative">
          <img alt="" class="w-100 rounded-3" src="https://routeegy.github.io/startFramework/assets/images/port3.png" />
          <div
            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</div>


<div class="model__ position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center d-none" >

    <img alt="" src="" class="w-50">

</div>