<div class="w-50 mx-auto p-5 login">
    <h1 class="mb-5">Login Now :</h1>
        <form [formGroup]="Loginform" (ngSubmit)="signIn(Loginform)">

            <div class="card border shadow-lg bg-body-secondary p-4">
            <label for="" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control"  required />
            <p class="text-danger" *ngIf="Loginform.get('email')?.getError('required')&& Loginform.get('email')?.touched"> please fill out the field</p>
            <p class="text-danger" *ngIf="Loginform.get('email')?.getError('email')&& Loginform.get('email')?.touched"> write a correct Email </p>

            <button class="btn bg-main my-3 w100 text-white">Forget Password</button>
            <h6 [ngClass]="apiResponse == 'success'? 'text-success':'text-danger'">{{apiResponse}}</h6>
        </div>
        </form>
</div>


