.register{
    margin-top: 100px;
}
button{
    background-color: var(--btn-bg-main) !important;
    color: black !important;
}

button:hover{
    background-color: var(--btn-bg-hover) !important;
    color: black !important;
}