<div
  _ngcontent-fia-c17=""
  class="home d-flex justify-content-center align-items-center text-white mt-5"
>
  <div _ngcontent-fia-c17="" class="text-center">
    <img
      _ngcontent-fia-c17=""
      src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
      alt=""
      class="my-3 w-75"
    />
    <div _ngcontent-fia-c17="" _nghost-fia-c6="" >
      <div _ngcontent-fia-c6="" class="text-center pt-4" style="color: white">
        <h2 _ngcontent-fia-c6="" class="text-uppercase mb-3 fs-1 fw-bolder">
          start Framework
        </h2>
        <div _ngcontent-fia-c6=""
          class="d-flex align-items-center justify-content-center mb-3" >
          <div _ngcontent-fia-c6="" class="line me-3" style="background-color: white" ></div>
          <i _ngcontent-fia-c6="" class="fa-solid fa-star"></i>
          <div
            _ngcontent-fia-c6=""
            class="line ms-3"
            style="background-color: white"
          ></div>
        </div>
      </div>
    </div>
    <div _ngcontent-fia-c17="">Graphic Artist - Web Designer - Illustrator</div>
  </div>
</div>
