<div class=" w-100 footing ">

<div  class="footer  ">
  <div  class="card-group ">
    <!-- <div  class="card">
      <div  class="card-body text-center text-white">
        <h3 >LOCATION</h3>
        <p >2215 John Daniel Drive</p>
        <p >Clark, MO 65243</p>
      </div>
    </div> -->


    <div class="card text-white">
      <div class="card-body text-center">
        <h5 class="fw-bold">Contact US</h5>
        <div class="icons my-4">
          <i class="fa-brands fa-facebook mx-1  fa-xl"></i>
          <i class="fa-brands fa-twitter mx-1  fa-xl"></i>
          <i class="fa-brands fa-linkedin-in mx-1  fa-xl"></i>
          <i class="fa-solid fa-globe mx-1  fa-xl"></i>
        </div>
        <h6 class="text-info"><span class="text-white">Phone</span> : 01098296775 - 01284724558</h6>
      </div>
    </div>

    <!-- <div  class="card">
      <div  class="card-body text-center text-white">
        <h3 >ABOUT FREELANCER</h3>
        <p >
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div> -->
  </div>
</div>

<div class="p"><p _ngcontent-fia-c21="">Copyright © Your Website 2021</p></div>
</div>
