<div class="mx-auto p-5 register">

        <form [formGroup]="registerform" (ngSubmit)="signUp(registerform)">
            <h1 class="mx-auto">Register Now :</h1>
            <label for="" class="form-label">Username</label>
            <input formControlName="name" type="text" class="form-control"  required />
            <p class="text-danger" *ngIf="registerform.get('name')?.getError('minlength') && registerform.get('name')?.touched">min length 3</p>
            <p class="text-danger" *ngIf="registerform.get('name')?.getError('maxlength') && registerform.get('name')?.touched"> max length 10</p>
            <p class="text-danger" *ngIf="registerform.get('name')?.getError('required')&& registerform.get('name')?.touched"> please fill out the field</p>

            <label for="" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control"  required />
            <p class="text-danger" *ngIf="registerform.get('email')?.getError('required')&& registerform.get('email')?.touched"> please fill out the field</p>
            <p class="text-danger" *ngIf="registerform.get('email')?.getError('email')&& registerform.get('email')?.touched"> write a correct Email </p>

            <label for="" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control"  required />
            <p class="text-danger" *ngIf="registerform.get('password')?.getError('required')&& registerform.get('password')?.touched"> please fill out the field></p>
            <p class="text-danger" *ngIf="registerform.get('password')?.getError('pattern')">password must start with capital letter and between 9-11 character</p>

            <label for="" class="form-label">Repassword</label>
            <input formControlName="rePassword" type="password" class="form-control"  required />
            <p class="text-danger" *ngIf="registerform.get('rePassword')?.getError('required')&& registerform.get('rePassword')?.touched"> please fill out the field></p>
            <p class="text-danger" *ngIf="registerform.get('rePassword')?.getError('pattern')">password must start with capital letter and between 9-11 character</p>
            <p class="text-danger" *ngIf="registerform.get('rePassword')?.value !== registerform.get('password')?.value && registerform.get('rePassword')?.touched">repassword didnot match with password</p>


            <label for="" class="form-label">Phone</label>
            <input formControlName="phone" type="text" class="form-control"  required />
            <p class="text-danger" *ngIf="registerform.get('phone')?.getError('required')&& registerform.get('phone')?.touched"> please fill out the field></p>
            <p class="text-danger" *ngIf="registerform.get('phone')?.getError('pattern')">please write a correct phone number</p>

            <button class="btn  my-3" *ngIf="apiResponse else Loading">Register</button>

            <ng-template #Loading>
                <button class="btn bg-main my-3"><i class="fa-solid fa-spinner fa-spin"></i></button>
            </ng-template>
            <h2>{{apiResponse}}</h2>
        </form>
</div>
